marquee {
    color: lightgreen;
    background-color: black;
    position: fixed;
}

/* Have sections hidden at beginning */
section {
    display: none;
}

.coinImage {
    height: 50px;
    width: 50px;
}

#myImage {
    height: 350px;
}

/* Display coins using grid, limiting to 5 per row */
#homeFrame, #modalFavouriteCoins, #modalCoinPicked {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 10px;
    padding: 0 3%;
}

.coinCard {
    border: solid black 1px;
}

.modal {
    /* Hide modal by default */
    display: none;
    position: fixed;
    /* Layer on top */
    z-index: 1;
    /* Set position of modal */
    padding-top: 10%;
    padding-left: 20%;
    /* Set background colour as black with opacity (mostly hiding bottom window) */
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    background-color: white;
    width: 80%;
}

.loader {
    /* Set border as rounded so conforms to coin shape */
    border-radius: 50%;
    /* Set width & height relative to minimum viewport for compatibility with different screen sizes */
    width: 50vmin;
    height: 50vmin;
    animation: spin 1.5s linear infinite;
    background-image: url("assets/images/loadCoin.jpg");
    background-size: cover;
}

/* full circle rotation animation */
@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}